*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

section{
  border: 10px solid olivedrab;
  border-radius: 30px;
}

img{
  width: 500px;
  cursor: pointer;
}